.main {
  margin-top: 40px;
}

.logo {
  width: 360px;
  margin: auto;
  margin-bottom: 20px;
  height: 90px;
  background: url('/shadowbg.png');
  background-size: 100%;
}

#search-text:focus {
  border-color: rgb(32 79 115);
  box-shadow: 0 0 0 0.25rem rgba(32,79,115,.4);
}

#search-button {
  background-color: rgb(32 79 115);
  line-height: 15px;
}
.search-item-magnet {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #e74c3c;
}
.search-item-title {
  font-weight: 500;
  display: block;
}
.search-item-size {
  color: #666;
  font-size: 13px;
  display: block;
}

.search-item-date {
  color: #444;
  font-size: 13px;
  display: block;
}

.pagination .page-link {
  cursor: pointer;
}
.pagination {
  margin: auto;
  margin-top: 20px;
}